body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.common-header {
    position: fixed;
    top: 0;
    width: 100%;
}

.common-header .p-menubar {
    border-radius: 0;
}

.common-header .p-menubar-root-list {
    width: 100%;
}

.common-header .p-menubar-root-list .p-menu-separator {
    flex: 1;
}

.common-header .p-menubar-root-list .p-submenu-list {
    width: 240px;
}
